.titulo{
text-align: center;    
border: 1px solid black;
background: blue;
color: white;
position: fixed;
width: 100%;
height: 50px;
top: -22px;
font-size: 25pt;

}

p{

}

.menu-principal {
position: fixed;
width: 100%;
background:blue;
justify-content: center;
margin-top: -150px;
font-size: 16px;}


ul.ordem-principal{list-style: none;
justify-content: center;
align-items: center;
text-align: center;}

ul.ordem-principal li {
background-color: #d5e7e9;
display: inline-block;

padding: 2px;
text-decoration: none;
transition-duration: 0.5s;
border: 1px solid black;
border-radius: 10%;}

ul.ordem-principal li a {
text-align: center;
text-decoration: none;
color: rgb(24, 9, 9);
text-transform: uppercase;
text-align: center;

}

ul.ordem-principal li ul {

visibility: hidden;
opacity: 0;
min-width: 5rem;
position: fixed;
transition: all 0.5s ease;
margin: 0;
display: none;
box-shadow: 0px 8px 16px 0px rgba(92, 1, 240, 0.315);
}


ul.ordem-principal li ul li {
clear: both;
width: 100%;
padding: 0px ;
margin-top: 3px;
width: 100px;
display: block;
border: none;
}

ul.ordem-principal li:hover,
ul.ordem-principal li:focus-within {
background-color: rgb(252, 252, 252);
cursor: pointer;
font-weight: bold;
transition: 0.3s;
}

/*controla a exibiçao do dropdown*/

ul.ordem-principal li:hover>ul,
ul.ordem-principal li:focus-within>ul,
ul.ordem-principal li ul:hover,
ul.ordem-principal li ul:focus {
visibility: visible;
opacity: 1;
display: block;
}

#controls {
position: fixed;
width: 450px;
top: 60px;
background:blue;
height: 33px;}


.botao{

}

button{
padding:1px;
margin: 0px;
font-size: 1rem;
border: 2px solid black;
border-radius: 10%;
width: 80px;
height: 35px;
font-weight: bold;}


.snippet-ytb-lazy {
position: fixed;
width: 500px;
height: 280px;
top: 100px;
left: 0px;}


.snippet-ytb-lazy .player{display: flex;
align-items: center;
justify-content: center;
cursor: pointer;}



.snippet-ytb-lazy svg {
width: 0px;
line-height: 0;
z-index: 1;
padding: 2px;
background-color:#fff;
border-radius: 50%;
display: none;
}



.snippet-ytb-lazy .player, .snippet-ytb-lazy iframe{position: relative;
width: 500px;
height:280px;
background-color: inherit;
}



.row1{
    margin: 80px auto;}
    
    
    
    




#resultado{
width: 100%;}


#resultado .hino{
    font-size: 40px;
    margin-top: 80px;
            }


#resultado  pre {
margin-top: 200px;
font-size: 20px;
}







